name: Update Repository with Extended Groups

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # 允许手动触发

jobs:
  update-repository:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 允许提交更改

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Display workspace variable
        run: |
           echo "Workspace is at: $GITHUB_WORKSPACE"
           ls $GITHUB_WORKSPACE
