name: Update Repository

on:
  workflow_dispatch:  # 允许手动触发

jobs:
  update-repository:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 允许提交更改

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Display workspace variable
        run: |
           echo "Workspace is at: $GITHUB_WORKSPACE"
           cd $GITHUB_WORKSPACE
           rm -rf luci-app-autorepeater
           echo “del”
           ls $GITHUB_WORKSPACE

      - name: Commit and push changes
        run: |
           git config --global user.name "GitHub Actions Bot"
           git config --global user.email "actions@github.com"

           # 添加所有更改
           git add .
          
           # 检查是否有实际更改
           if git diff-index --quiet HEAD --; then
              echo "No changes detected"
           else
             git commit -m "update files"
             git push origin HEAD:${GITHUB_REF#refs/heads/}
           fi
